body {
    padding: 0;
    margin: 0;
}
* {
    font-family: 'SFDR';
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}
a{
    text-decoration: none;
}
.clear {
    visibility: hidden;
}
.clear, .clearfix:after {
    display: block;
    width: 0;
    height: 0;
    clear: both;
}
#width-316, #width-326, .clear, .hidden {
    overflow: hidden;
}
#wrapper-content {
    width: 100%;
}
#header,#wrapper-content {
    margin:auto;
}
#wrapper-content .top-menu .container{
    display: grid;
    grid-template-columns: 25% 75%;
    padding: 0;
}
#wrapper-content .top-menu .container .tt-dam{
    display: grid;
    grid-template-rows: 50% 50%;
    position: relative;
}
#wrapper-content .top-menu .container .tt1-dam{
    display: grid;
    grid-template-columns: 50% 50%;
}
.header {
    background: #324c65;
}
.top-menu {
    border: none;
    background-image: none;
}
.top-menu {
    position: relative;
    background: url(/images/border.gif) 0 20px repeat-x;
}
.top-menu .logo {
    background: url(images/bg_logo.jpg);
    padding: 18px 0;
}
.top-menu .logo {
    display: block;
    width: 100%;
}

.top-menu .logo1 {
    margin: 0;
    text-align: right;
}

.page_tt {
    text-align: right;
    font-size: 11px;
    font-weight: 400;
    font-family: arial;

}
.page_tt .a-right {
    border-color: #78a1c6;
    padding: 0 10px;
    border-right: 1px solid #ccc;
    display: inline-block;
    float: none;
}
.page_tt .today strong {
    color: #78a1c6;
    font-size: 13px;
    font-weight: 400;
}
.page_tt .top_tin24h a {
    color: #78a1c6;
    font-size: 13px;
    cursor: pointer;
}
.page_tt .a-right:last-child {
    border: 0;
}
.a-left {
    float: left;
}
.page_tt .top_tin24h a {
    color: #78a1c6;
    font-size: 13px;
    cursor: pointer;
}
.top-menu .logo1 a {

    color: #78a1c6;
    font-size: 13px;
    font-family: arial;
}
.social-header {
    display: inline-block;

}
.social-header .a-left {
    margin: 15px 10px 10px 0px;
    float: right;
}
.fb_iframe_widget {
    display: inline-block;
    position: relative;
}
.fb_iframe_widget span {
    display: inline-block;
    position: relative;
    text-align: justify;
    vertical-align: bottom;
    width: 80px;
    height: 20px;
}
.fb_iframe_widget iframe {
    position: absolute;
    border: none;
    visibility: visible;
    width: 80px;
    height: 20px;
}

#footer .container1{
    width: 1000px;
    margin: auto;
}
.container {
    margin: auto;
    padding: 10px 0;
    width: 1000px;
    display: grid;
    grid-template-columns: 69% 31%;
}
.container, .headlines-cate, .nav {
    position: relative;
}
#content {
    clear: left;
    float: left;
    padding-right: 10px;
    display: inline-block;
}
#main-home {
    width: 98.6%;
    display: grid;
    grid-template-columns: 30% 70%;
}
#main-home {
    overflow: hidden;
}

#content-home {
    padding-right: 0;
}
#content-home {
    overflow: hidden;
    float: right;
    padding: 0 0px 0 14px;
}
#sidebar-home {
    overflow: hidden;
    float: left;
}
#sidebar-home .dam  .content ul.list-post{
    padding: 0;
    margin: 0;
}
#sidebar-home .dam ul#menu.menu{
    margin: 0;
}
.focus-thumb {
    height: 270px;
    border-bottom: 4px solid #0ea8cc;
}
.focus-thumb {
    display: block;
}
.focus-desc, .focus-thumb {
    margin-bottom: 6px;
    overflow: hidden;
}
.focus-thumb .thumb-large {
    margin-bottom: 0;
}
.thumb-large {
    width: 100%;
    margin-right: 0;
    margin-top: 0;
}
h2.title-site {
    font-size: 19px;
    font-weight: 700;
    line-height: 24px;
    margin: 0 0 5px 0;
}
h2.title-site a {
    font-weight: 400;
    font-family: notib,arial;
}
h2.title-site a {
    color: #333;
    font-size: 24px;
    line-height: 28px;
}

.focus-desc {
    font-size: 13px;
    font-family: arial;
    color: #777;
}
.focus-desc {
    height: 60px;
    line-height: 20px;
    margin: 0 0 6px 0;
}
ul.menu {
    background: #f1f1f1;
    border-bottom: 3px solid #ccc;
}
.menu {
    padding: 0;
    clear: both;
}
ul.menu li.active {
    border-bottom: 3px solid #0da9ca;
    margin-bottom: -3px;
}
.menu li.active {
    background: #f1f1f1;
}
ul.menu li {
    color: #666;
    margin-right: 3px;
}
.menu li {
    display: block;
    float: left;
    width: auto!important;
    padding: 3px 5px;
}
ul.menu li.active a {
    color: #0da9ca;
}
.menu li.active a {
    text-transform: uppercase;
}
ul.menu li a {
    color: #666;
    font-family: 'SFDH';
    text-transform: uppercase;
    font-size: 14px;
    display: inline-block;
    padding: 5px 5px 2px;
}.menu li a {
    float: left;
}
ul.menu:after {
    display: table;
    height: 0.1px;
    clear: both;
    content: '';
}
.content {
    clear: both;
}
#tinnoibat * {
    font-family: arial;
}
#tinnoibat .list-post li:first-child, #tinmoi .list-post li:first-child {
    border-top: none;
    margin-top: 0;
}
#tinnoibat .list-post li.first {
    padding: 6px 0;
}
#tinnoibat .list-post li, #tinmoi .list-post li {
    margin: 10px 0 0;
    height: 33px;
    overflow: hidden;
    border-bottom: none;
}
.list-post li {
    float: left;
}
#tinnoibat .list-post li a {
    font-size: 14px !important;
    font-family: 'SFDR';
}
.list-post li.first h4 a {
    line-height: 18px;
    display: block;
    font-weight: 400;
}
#tinnoibat .list-post li, #tinmoi .list-post li {
    margin: 10px 0 0;
    padding: 0;
    padding-top: 10px;
    height: 33px;
    overflow: hidden;
    border-bottom: none;
    border-top: 1px solid #ddd;
}
#main-home-sub {
    background: none;
    border-top: 4px solid #0ea8cc;
    margin: 20px 0;
    padding-top: 20px;
}
#main-home-sub {
    width: 98.6%;
    padding: 20px 0 15px 0;
}
#main-home-sub ul.content-sub{
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 31% 31% 31%;
    justify-content: space-between;
}
#main-home-sub ul.content-sub.content-sub2{
    list-style: none;
    padding: 13px 13px;
    display: grid;
    grid-template-columns: 50% 50%;
}
ul.content-sub li.first {
    padding-left: 0;
    border: 0;
}

ul.content-sub li {
    float: left;
    margin-bottom: 10px;
}
ul.content-sub li .thumb {
    height: 130px;
}
ul.content-sub li .thumb {
    display: block;
    width: 100%;
    overflow: hidden;
    margin: auto;
}
ul.content-sub li .thumb .thumb-modem {
    height: 130px;
}
ul.content-sub li .thumb .thumb-modem {
    width: 100%;
}
ul.content-sub li .title {
    max-height: inherit;
}
ul.content-sub li .title {
    font-size: 13px;
    overflow: hidden;
    width: 100%;
    margin: auto;
}
ul.content-sub li .title a {
    font-family: 'SFDB';
    font-size: 16px;
    margin: 5px 0;
    display: block;
    font-weight: 400;
    height: auto;
}
.content-sub2 {
    background: #f2f2f2;
    padding: 13px;
    border: none;
}
content-sub.content-sub2 li.first {
    margin-left: 0;
}
ul.content-sub.content-sub2 li {
    position: relative;
}
ul.content-sub li.first {
    padding-left: 0;
    border: 0;
}
.content-sub.content-sub2 li {
    margin: 3px 2%;
    padding: 0;
}
ul.content-sub.content-sub2 li .thumb {
    display: none;
}
ul.content-sub li .thumb .thumb-modem {
    height: 130px;
}
ul.content-sub li .thumb .thumb-modem {
    width: 100%;
}
.content-sub.content-sub2 li .title a {
    font-size: 16px;
    color: #444;
}
.content-sub.content-sub2 li .title a {
    position: relative;
    padding-left: 16px;
}
.content-sub.content-sub2 li .title a {
    height: 37px;
}
.content-sub.content-sub2 li .title a:before {
    content: '';
    width: 7px;
    height: 7px;
    display: inline-block;
    position: absolute;
    background: #df741e;
    border-radius: 30px;
    top: 5px;
    left: 0;
}
.content-sub2:after {
    content: '';
    display: table;
    height: 0.1px;
    clear: both;
}
.main-category {
    margin-bottom: 10px;
    overflow: hidden;
}
.main-category .content-dam{
    display: grid;
    grid-template-columns: 47.2% 52.8%;
}
.main-category .content-dam1{
    display: grid;
    grid-template-columns: 48.6% 51.4%;
}
.headlines-cate {
    border-top-color: #0ea8cc;
}
.headlines-cate {
    border-top: 2px solid #111;
    padding: 8px 0;
    border-bottom: 1px solid #e1e1e1;
    overflow: hidden;
}
.headlines-cate .title {
    text-transform: uppercase;
    float: left;
    margin: 0;
}
.headlines-cate .title a.rss {
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 10px;
    right: 0;
    opacity: .3;
}
.headlines-cate .title a {
    font-family: 'SFDH';
    font-size: 18px;
    color: #0ea8cc;
}
.headlines-cate .title a {
    font-weight: 400;
    line-height: 19px;
}
.tab-light-blue {
    margin-top: 4px;
}
.tab-light-blue {
    width: 75%;
}
.tab-light-blue {
    float: left;
    margin-left: 10px;
    overflow: hidden;
    height: 14px;
}
.cate-other li {
    float: left;
    padding: 0 10px;
    border-right: 1px solid #c5c5c5;
}
.tab-light-blue li {
    line-height: 10px;
}
.tab-light-blue li a {
    font-family: arial;
    font-size: 11px;
    color: #777;
}
.tab-light-blue li:last-child {
    border-left: 0 none;
}
.cate-other .cate-other-last {
    border: none;
    float: left;
    padding: 0 6px;
}
.cate-other ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-category .dam1 {
    padding-right: 10px;
    border-right: 1px solid #e1e1e1;
}
.main-category .list-post {
    overflow: hidden;
    margin: 5px 0 0;
    list-style: none;
    padding: 0;
}
.main-category .list-post li.first:last-child {
    border-bottom: none;
}
.main-category .list-post li.first {
    padding-left: 0;
    background: 0 0;
}
.list-post li.first {
    border-top: none;
    padding: 6px 0;
    margin-top: 0;
}
.list-post li a {
    font-size: 14px;
    line-height: 17px;
}
.thumb210 {
    height: 210px;
    width: 100%;
}
.main-category .list-post li.first h4 {
    margin-bottom: 5px;
    margin-top: 0;
}
.main-category .list-post li.first h4 a {
    font-size: 17px;
}
.main-category .list-post li.first h4 a {
    font-weight: 400;
    line-height: 20px;
}
.list-post li.first h4 a {
    display: block;
}
.list-post p {
    padding-top: 5px;
    font-weight: 400;
}
.main-category .list-post li.first p {
    font-size: 13px;
    font-family: arial;
}
.main-category .list-post li.first p {
    clear: both;
    color: #666;
    margin: 0;
}
.main-category .dam2 {
    padding-left: 6px;
    max-height: 340px;
}
.a-right {
    float: right;
}
.main-category .dam2.a-right ul {
    border: 0;
}
.dam2 .list-post li {
    margin-bottom: 7px;
    padding-bottom: 7px;
}
.main-category .list-post li {
    float: none;
}
.list-post li {
    border-bottom: 1px solid #ebebeb;
}
.dam2 .list-post li.first .thumb-modem {
    float: left;
    margin-right: 15px;
}
.thumb-modem {
    height: 88px;
}
.dam2 .list-post li.first h4 a {
    font-family: 'SFDB';
    font-size: 15px;
}
.dam2 .list-post li:after {
    content: '';
    display: table;
    clear: both;
}
.nw-blk {
    float: left;
    padding-right: 10px;
    border-right: 1px solid #e1e1e1;
    margin: 10px 10px 0 0;
}
.nw-thumb {
    border-bottom: 1px solid #EFEFEF;
    padding-bottom: 8px;
}
.nw-list {
    overflow: hidden;
    padding: 7px 0 7px 10px;
    border-bottom: 1px solid #eee;
    background: url(images/dot.gif) 0 15px no-repeat;
}
.nw-list:last-child, .lst-news li:last-child {
    border-bottom: none;
}
.nw-list {
    overflow: hidden;
    padding: 7px 0 7px 10px;
    background: url(images/dot.gif) 0 15px no-repeat;
}
.nw-bigtlt {
    font-size: 17px;
}
.nw-bigtlt {
    font-weight: 400;
    line-height: 21px;
    display: block;
    margin-bottom: 7px;
}
.nw-thumb .thumb140x90 {
    margin: 0 0 0 15px;
    float: right;
    display: block;
}
.thumb140x90 {
    height: 90px ;
    overflow: hidden;
}
.thumb140x90 img {
    object-fit: cover;
    height: 100%;
    min-width: 100%;
}
.thumb140x90 img {
    border: 0;
}
.cpt {
    font-size: 13px;
    font-family: arial;
}
.cpt {
    color: #666;
    height: 80px;
    line-height: 20px;
    overflow: hidden;
}
.pkg:after {
    display: block;
    clear: both;
    height: .1px;
    font-size: .1em;
    line-height: 0;
}
.box_multi_category .pkg:after, .pkg:after {
    content: " ";
    visibility: hidden;
}
.lst-news .nw-tlt, .nw-tlt {
    font-size: 14px;
}
.nw-tlt {
    display: block;
    line-height: 19px;
}
.lst-blk {
    float: left;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 46% 54%;
}
.lst-thumb {
    margin-right: 10px;
    height: 260px;
    float: left;
    border-right: 1px solid #e1e1e1;
    padding-right: 10px;
}
.lst-news {
    float: left;
    overflow: hidden;
}
.lst-thumb .nw-bigtlt, .lst-thumb .nw-bigtlt2 {
    font-size: 15px;
}
.lst-thumb .nw-bigtlt, .lst-thumb .nw-bigtlt2 {
    line-height: 19px;
    margin: 0 0 9px;
    font-weight: 400;
}
.lst-thumb .cpt {
    height: 160px;
}
ul.lst-news{
    list-style: none;
    padding-left: 0;
    margin: 0;
}
.lst-news {
    float: left;
    overflow: hidden;
}
.lst-news li {
    border-bottom: 1px dotted #ddd;
    padding-bottom: 8px;
    margin-bottom: 10px;
}
.lst-news .thumb120 img {
    width: 100%;
    height: 120px;
}
.lst-news .nw-tlt {
    line-height: 18px;
    display: block;
    overflow: hidden;
    height: 36px;
}
.main-category .list-post li.first p>a {
    float: right;
    margin: 0 0 0 15px;
    display: block;
    overflow: hidden;
}
.main-category .list-post li.first p>a img.thumb-modem {
    margin: 0;
}
.main-category .list-post li.first p img {
    float: right;
}
.main-category .list-post li {
    background-position: 0 23px;
}
.main-category .list-post li {
    float: none;
    padding-left: 10px;
    background: url(images/dot.gif) 0 12px no-repeat;
    padding-top: 6px;
}
.list-post .link {
    margin-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}
.main-category .list-post li.link h5{
    margin: 0;
}
.box_video_home {
    background: #40566a;
    color: #fff;
}
.title_video_home {
    float: left;
    font-size: 20px;
    border-left: 6px solid #df741e;
    text-transform: uppercase;
    color: #fff;
    margin: 10px 0;
    padding-left: 15px;
}
.box_video_home .tab-light-blue {
    margin-top: 15px;
}
.box_video_home .tab-light-blue li a {
    color: #fff;
}
.main-category .list_video_home {
    padding: 0 15px 10px 15px;
}
.main-category .list_video_home .dam1 {
    width: 290px;
}
.main-category .list_video_home .dam1 {
    padding-right: 0;
    border-right: none;
}
.main-category .list_video_home .list-post {
    margin: 0;
}
.main-category .list_video_home .list-post li.first {
    padding-right: 0;
}
.main-category .list-post li.first:last-child {
    border-bottom: none;
}
.main-category .list_video_home .list-post li.first .thumb-modem, .main-category .list_video_home .list-post li.first .thumb210 {
    border: 3px solid #6585a3;
    box-sizing: border-box;
}
.main-category .list_video_home .list-post li.first h4 a {
    color: #fff;
}
.main-category .list_video_home .list-post li.first p.desc {
    color: #adc9d7;
}
.main-category .list_video_home .list-post li.first {
    padding-right: 0;
}
.main-category .list_video_home .list-post li {
    border-bottom: none;
}
#sidebar {
    float: right;
    overflow: hidden;
    padding-left: 0;
    clear: right;
    display: inline-block;
}
.m-bottom {
    margin-bottom: 10px;
}
.boxquatang {
    width: 100%;
    background: #fff;
}
.quatanghead {
    background: #ededed;
    border-bottom: none;
    padding: 7px 0;
}
.quatanghead {
    font-size: 1em;
    text-transform: uppercase;
    color: #004c93;
    font-weight: 700;
}
.quatanghead span {
    display: block;
    border-left: 5px solid #df741e;
    font-size: 17px;
    font-family: 'SFDH';
    color: #40566a;
    padding-left: 10px;
    line-height: 20px;
}
.boxquatang .quatangcnt  ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.quatangcnt ul li {
    background: url(images/quatang_pattern.jpg) 0 100% repeat-x;
    padding: 10px 0 13px;
    overflow: hidden;
}
.quatangcnt ul li .quatangthumb {
    display: block;
    width: 38%;
    height: auto;
    overflow: hidden;
    float: left;
    margin: 0 3% 0 0;
}
.quatangcnt ul li .quatangthumb img {
    width: 100%;
}
.quantanginfo {
    width: 59%;
    float: right;
}
.quatangcnt ul li .quatangtitle {
    font-family: 'SFDB';
    font-size: 14px;
}
.quatangcnt ul li .quatangtitle {
    color: #333;
    font-weight: 700;
    line-height: 1.2em;
}
.title_utilities {
    background: #334658;
    color: #fff;
}
.title_utilities span {
    color: #fff;
}
.quatanghead span {
    display: block;
    border-left: 5px solid #df741e;
    font-size: 17px;
    padding-left: 10px;
    line-height: 20px;
}
.box_utilities {
    border-bottom: none;
    padding-bottom: 7px;
}
.list_utilities {
    background: #40566a;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.list_utilities li, .line_utilities {
    border-color: #667888;
}
.list_utilities li {
    display: inline-block;
    list-style: none;
    text-align: center;
    padding: 5px 9px;
    vertical-align: top;
    border-right: 1px solid #eee;
    height: 65px;
}
.none_border {
    border-right: none !important;
}
.line_utilities {
    border-bottom: 1px solid #eee;
}
.list_utilities li a {
    display: block;
    font-size: 13px;
    color: #fff;
    margin-bottom: 5px;
}
.icon_utilities {
    opacity: .6;
}

.sticky-wrapper {
    height: auto!important;
}
.sticky-wrapper {
    width: 100%;
    margin: auto;
}
#cat-menu-main, #catmenu {
    background: #43759b;
    position: relative;
    z-index: 9;
}
#cat-nav {
    height: 40px;
}
.nav {
    border: none;
}
.nav {
    padding: 0;
    list-style: none;
    width: 1000px;
    margin: auto;
    z-index: 100;
    position: relative;
}
.nav li:first-child {
    padding-left: 0;
}
.nav li {
    float: left;
    height: 26px;
    padding: 0 5px;
}
.nav li:first-child a {
    background: url(images/home.png) 5px no-repeat;
    width: 28px;
    display: block;
    height: 26px;
    padding-bottom: 4px;
}
.nav > li > a *, .nav > li > a {
    font-weight: normal;
    text-transform: inherit;
    font-size: 13px;
}
.nav > li > a {
    color: #fff;
}
.nav li a, .nav li a *{
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
}
.nav li a {
    padding: 7px 0px;
    white-space: nowrap;
    display: inline-block;
}
.nav li ul {
    position: absolute;
    list-style: none;
    left: 0;
    background: #f8f8f8;
    display: none;
    width: 1000px;
    height: auto;
    margin: 0;
    top: 40px;
    border-top: none;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.nav li li:first-child {
    border-left: 0 none;
}
.nav li li {
    float: left;
    border: none;
    padding: 0;
}
.nav li li:first-child a {
    background-image: none;
    padding: 0 6px;
}
.nav li li:first-child a {
    width: auto;
    height: auto;
}
.nav li:hover ul {
    display: block;
}
.nav li li a:hover{
    background:#999;
    color:#fff
}
.nav li li a {
    font-weight: 400;
    display: inline-block;
    padding: 0 6px;
}
.nav > li > a:hover{
    border-bottom: 3px solid #33dbff;
    padding: 5px;
}
.sticky {
    position: fixed !important;
    top: 0;
    width: 100%;
}
.sticky + .pkg {
    padding-top: 60px;
}

#footer {
    padding: 0;
}
#footer {
    margin-top: 0;
}
#footer *, #footer .menu-footer, .eve, .eve *, .footer-item ul li a {
    font-family: arial;
}
#footer #footer_box_bottom{
    width: 980px;
    height: 248px;
    margin: 0 auto;
}
.footer-tools {
    background: #FFF;
    clear: both;
    display: block;
    width: 100%;
}
.footer-tools p {
    padding: 10px 0;
}

#footer .footer-item {
    padding: 10px;
    background: #fff;
}
.ft-wrap {
    display: block;
    background: url(images/border1.gif) repeat-x;
    padding-top: 20px;
}
#chumtin p, .footer-tools p, .ft-wrap {
    margin: auto;
}
#footer .footer-item:after {
    clear: both;
    content: "";
    width: 100%;
    display: block;
}
.footer-item .ft-wrap{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}
.footer-item .ft-wrap>span {
    display: block;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.footer-item .ft-wrap>span.col10, .footer-item .ft-wrap>span.col11, .footer-item .ft-wrap>span.col7, .footer-item .ft-wrap>span.col8, .footer-item .ft-wrap>span.col9 {
    height: 130px;
}
.footer-item .ft-wrap>span>a {
    display: block;
}
.footer-item span>a {
    color: #111;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}
.footer-item ul li a {
    font-size: 12px;
    color: #444;
    line-height: 20px;
}
#footer .menu-footer {
    font-size: 12px;
    border-top: 1px solid #ccc;
    margin: auto;
    padding: 3px 10px;
    display: grid;
    grid-template-columns: 17.5% 40% 40%;
    justify-content: space-between;
}
#footer .menu-footer a {
    font-size: 11px;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: 700;
    white-space: nowrap;
}
#footer .foot-logo {
    display: block;
    height: 62px;
    float: left;
    margin-right: 15px;
    background: url(images/logo-tinmoi.png) no-repeat;
    background-size: 90%;
    text-indent: -9999px;
    margin-top: 20px;
}
#footer .menu-footer .info{
    float: left;
    padding: 6px 0;
    line-height: 20px;
    position: relative;
}
#footer .menu-footer .info p{
    margin: 0;
}
#footer .info strong {
    color: #000;
}
.footer-item .ft-wrap>span.col10 li {
    margin-bottom: 5px;
}
.footer-item .ft-wrap>span img {
    vertical-align: middle;
    margin-right: 1px;
}
.footer-item .ft-wrap>span.col11>a {
    margin-bottom: 5px;
    display: block;
}
.footer-item .col11 a {
    margin: 0;
}
#footer .footer-item .ft-wrap ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
@media screen and (max-width: 768px){
    #wrapper-content .top-menu .container{
        grid-template-columns: 100%;
    }
    .top-menu .logo{
        text-align: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #wrapper-content .top-menu .container .tt1-dam{
        grid-template-columns: 50% 50%;
    }
    .top-menu .logo1{
    }
    .page_tt{
        text-align: left;
    }
    .container{
        grid-template-columns: 100%;
        width: 100%;
    }
    #content{
        padding-left: 10px;
    }
    #sidebar{
        display: grid;
        grid-template-columns: 55% 42%;
        padding: 0 10px;
        justify-content: space-between;
    }
    #footer .container1{
        width: 100%;
    }
    #footer #footer_box_bottom{
        display: none;
    }
    #cat-nav{
        width: 100%;
    }
    #wrapper-content .top-menu .container .tt1-dam{
        margin-top: 8px;
    }
}
@media screen and (max-width: 375px){
    .container{
        grid-template-columns: 100%;
        width: 100%;
    }
    #content{
        padding-left: 10px;
    }
    #cat-nav{
        overflow-x: scroll;
        display: flex;
        width: 100%;
    }
    .page_tt{
        text-align: right;
    }
    #main-home{
        width: 100%;
        grid-template-columns: 100%;
    }
    .focus-thumb{
        height: auto;
    }
    #content-home{
        padding: 0;
    }
    #main-home-sub{
        width: 100%;
    }
    #main-home-sub ul.content-sub{
        grid-template-columns: 49% 49%;
    }
    #main-home-sub ul.content-sub.content-sub2{
        grid-template-columns: 49% 49%;
        justify-content: space-between;
        padding: 0;
    }
    .content-sub.content-sub2 li .title a{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .main-category .content-dam{
        grid-template-columns: 100%;
    }
    .main-category .dam1{
        border-bottom: 1px solid #e1e1e1;
    }
    .main-category .dam2{
        padding-left: 0;
    }
    .main-category .content-dam1{
        grid-template-columns: 100%;
    }
    .nw-blk{
        margin-right: 0;
        border-bottom: 1px solid #e1e1e1;
    }
    .lst-thumb{
        height: auto;
    }
    .headlines-cate{
        display: grid;
        grid-template-columns: 100%;
    }
    .tab-light-blue{
        margin-top: 10px;
        height: auto;
        margin-left: 0;
        width: auto;
    }
    .tab-light-blue li a{
        margin: 0 10px;
    }
    .cate-other li{
        padding: 0;
        height: 20px;
    }
    .cate-other ul{
        overflow-x: scroll;
        display: flex;
        webkit-overflow-scrolling: touch;
        white-space: nowrap;
    }
    .tab-light-blue li{
        line-height: inherit;
    }
    #sidebar{
        padding: 0 10px;
        grid-template-columns: 100%;
    }
    #footer .container1{
        width: 100%;
    }
    #footer #footer_box_bottom{
        display: none;
    }
    #footer .menu-footer{
        width: 100%;
        grid-template-columns: 100%;
        padding: 0;
    }
    #footer .footer-item{
        width: 100%;
    }
    .footer-item .ft-wrap{
        width: 100%;
        grid-template-columns: 49% 49%;
        justify-content: space-between;
    }
    #footer .foot-logo{
        background-size: auto;
    }
    .footer-item .ft-wrap>span{
        margin: 0;
        padding: 0 10px;
    }
    #footer .footer-item{
        padding: 0;
    }
    #footer .menu-footer .info{
        padding: 6px 10px;
    }
    #wrapper-content .top-menu .container{
        grid-template-columns: 100%;
    }
    .top-menu .logo{
        text-align: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #wrapper-content .top-menu .container .tt1-dam{
        grid-template-columns: 100%;
    }
    .top-menu .logo1{
        margin-right: 10px;
    }
}
